<!DOCTYPE html>
<html>

<head>
	<title> About </title>
</head>

<body>
	<!-- Picture 6 -->
	<p> Picture 6</p>
	<br>
	<figure>
	<img src="../Images/Picture6.jpg" width="512px" height= "512px" alt=" Cover Art of MF DOOM'S Operation Doomsday">

	<figcaption> MF DOOM is a London based MC, who has interesected rap and comic culture, which I relate to as I have similar interests. </figcaption>
	</figure>
	<br>

	
	<!-- Picture 7 -->
	<p> Picture 7</p>
	<br>
	<figure>
	<img src="../Images/Picture7.png" width="700px" height= "315px" alt=" Collegiate Science Entry Program (CSTEP) logo">

	<figcaption> I entered CSTEP in my freshman year, and as a program they have given me opportunities that I would have not had, had I not joined. </figcaption>
	</figure>
	<br>



	<!-- Picture 8 -->
	<p> Picture 8</p>
	<br>
	<figure>
	<img src="../Images/Picture8.jpg" width="342px" height= "334px" alt=" Adobe Illustrator Logo">

	<figcaption> Adobe is challenging, yet essential in my transition from hand drawn pictures to digital artwork. I've spent hours just learning how to use the program, which is both difficult but enjoyable. </figcaption>
	</figure>
	<br>

	<!-- Picture 9 -->
	<p> Picture 9</p>
	<br>
	<figure>
	<img src="../Images/Picture9.png" width="512px" height= "512px" alt=" Twitter Logo">

	<figcaption> Arguably the app I use the most. Whenever I feel the need to destress or be informed of news, I use twitter. </figcaption>
	</figure>
	<br>

	<!-- Picture 10 -->
	<p> Picture 10</p>
	<br>
	<figure>
	<img src="../Images/Picture10.jpeg" width="254px" height= "301px" alt=" Picture of a character from the show FLCL,which I drew">

	<figcaption> This year I discovered a love for drawing, while this drawing isn't perfect, it is a representation of my desire to continue to learn about the art and to continue learning. </figcaption>
	</figure>
	<br>

<!-- Go Back -->
	<a href="../index.html"> Go Back </a>
</body>

</html>










